@(directeur: Directeur)

@main("Index 14 mars", directeur.nom) {
  <h1>Bienvenue à la formation&nbsp;!</h1>

  <section class="histoire">
	  <div class="lien-accueil"><a href="@routes.HomeController.page_enigme_d()">Malle des tarières pour faire des trous carrés</a></div>
	  <div class="lien-accueil"><a href="@routes.HomeController.page_enigme_e()">Journée à l'envers</a></div>
	  <div class="lien-accueil"><a href="@routes.HomeController.page_enigme_a()">Bien utiliser le Safékdal au quotidien</a></div>
	  <div class="lien-accueil"><a href="/enigmes/vxtcn47p">Devenir DT en seulement 3 étapes</a></div>
	  <div class="lien-accueil"><a href="@routes.HomeController.page_enigme_c()">Acheter sa qualif' de directeur</a></div>
	  <div class="lien-accueil"><a href="@routes.HomeController.page_enigme_b()">La pédagogie pour les nuls</a></div>
	  <div class="lien-accueil"><a href="/enigmes/3hnwdoqk">Mille et une recettes pour bien cuisiner le gazon</a></div>
  </section>
}
