@()

@main("Bienvenue à la formation !") {
  <h1>Bienvenue à la formation&nbsp;!</h1>

  <section class="histoire">
     Tu te trouves dans une pièce

    <div class="lien-accueil">Malle des tarières pour faire des trous carrés</div>
    <div class="lien-accueil">Journée à l'envers</div>
    <div class="lien-accueil">Bien utiliser le Safékdal au quotidien</div>
    <div class="lien-accueil">Devenir DT en seulement 3 étapes</div>
    <div class="lien-accueil">Acheter sa qualif' de directeur</div>
    <div class="lien-accueil">La pédagogie pour les nuls</div>
    <div class="lien-accueil">Mille et une recettes pour bien cuisiner le gazon</div>

  </section>
}
