@(directeur: Directeur)

@main("Index 14 mars", directeur.nom) {
<section class="histoire">
	<div class="row justify-content-md-center" style="margin: 30px">
		<h2> Bienvenue à toi, qui viens d'arriver
			<span style="font-size: small">(pour trouver et découvrir… 🎶)</span>
		</h2>
	</div>
	<div class="row justify-content-md-center" style="margin: 30px">
		<p>Pour ouvrir le cryptex, tu devras résoudre toutes ces énigmes et peut-être même
			plus…</p>
	</div>

	<div class="grid-wrapper container-fluid">
		<a href="@routes.HomeController.page_enigme_d()" class="lien-accueil box1 bg-primary text-white">
         @if(directeur.enigme_d_ok){<span class="badge badge-dark reponse">⭐️</span>}
         @if(directeur.rep_enigme_d.isDefined && !directeur.enigme_d_ok){<span class="badge badge-warning reponse">⏱</span>}
			<div>
				Malle des tarières pour faire des trous carrés
			</div>
		</a>
		<a href="@routes.HomeController.page_enigme_e()" class="lien-accueil box2 bg-success text-white">
         @if(directeur.enigme_e_ok){<span class="badge badge-dark reponse">N</span>}
         @if(directeur.rep_enigme_e.isDefined && !directeur.enigme_e_ok){<span class="badge badge-warning reponse">⏱</span>}
			<div>
				Journée à l'envers
			</div>
		</a>
		<a href="@routes.HomeController.page_enigme_a()" class="lien-accueil box3 bg-warning text-dark">
         @if(directeur.enigme_a_ok){<span class="badge badge-dark reponse">I</span>}
         @if(directeur.rep_enigme_a.isDefined && !directeur.enigme_a_ok){<span class="badge badge-warning reponse">⏱</span>}
			<div>
				Bien utiliser le Safékdal au quotidien
			</div>
		</a>
		<a href="/enigmes/vxtcn47p" class="lien-accueil box4 bg-secondary text-white">
			<div>
				Devenir DT en seulement 3 étapes
			</div>
		</a>
		<a href="@routes.HomeController.page_enigme_c()" class="lien-accueil box5 bg-info text-white">
         @if(directeur.enigme_c_ok){<span class="badge badge-dark reponse">J</span>}
         @if(directeur.rep_enigme_c.isDefined && !directeur.enigme_c_ok){<span class="badge badge-warning reponse">⏱</span>}
			<div>
				Acheter sa qualif' de directeur
			</div>
		</a>
		<a href="@routes.HomeController.page_enigme_b()" class="lien-accueil box6 bg-danger text-dark">
         @if(directeur.enigme_b_ok){<span class="badge badge-dark reponse">X</span>}
         @if(directeur.rep_enigme_b.isDefined && !directeur.enigme_b_ok){<span class="badge badge-warning reponse">⏱</span>}
			<div>
				La pédagogie pour les nuls
			</div>
		</a>
		<a href="/enigmes/3hnwdoqk" class="lien-accueil box7 bg-light text-dark">
			<div>
				Mille et une recettes pour bien cuisiner le gazon
			</div>
		</a>
	</div>
</section>
}
